<div id="<%= dom_id card %>">
  <p>
    <strong>Card number:</strong>
    <%= card.card_number %>
  </p>

  <p>
    <strong>Exp date:</strong>
    <%= card.exp_date %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= card.cvv %>
  </p>

</div>
