<p style="color: green"><%= notice %></p>

<% content_for :title, "Product carts" %>

<h1>Product carts</h1>

<div id="product_carts">
  <% @product_carts.each do |product_cart| %>
    <%= render product_cart %>
    <p>
      <%= link_to "Show this product cart", product_cart %>
    </p>
  <% end %>
</div>

<%= link_to "New product cart", new_product_cart_path %>
