<% content_for :title, "New product cart" %>

<h1>New product cart</h1>

<%= render "form", product_cart: @product_cart %>

<br>

<div>
  <%= link_to "Back to product carts", product_carts_path %>
</div>
